<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewports" content="width=device-width, initial-scale=1.0" />
  <title>Byron Lutz | Trainings</title>
  <link rel="stylesheet" href="http://blutz.io/css/foundation.css" />
  <link rel="stylesheet" href="http://blutz.io/css/app.css" />
</head>
<body>
  <header>
    <a href="http://blutz.io"><span class="title">Byron Lutz</span></a>
  </header>

  <nav>
    <ul>
      <li><a href="http://blutz.io">Portfolio</a></li>
      <li><a href="http://blutz.io/resume.pdf">Resume</a></li>
      <li><a href="http://blutz.io/contact">Contact</a></li>
      <li><a href="http://blutz.io/notes">Class notes</a></li>
      <li class="active"><a href="/">Trainings</a></li>
      <li><a href="http://blutz.io/etc">Etc.</a></li>
    </ul>
  </nav>
  <div style="display: block; clear: both;"></div>

  <!-- content goes here -->

  <footer class="row">
    <div class="small-12 columns">
      &copy; Byron Lutz 2016. <a href="http://blutz.io/contact">Contact me</a>.
    </div>
  </footer>

  <!-- TODO: Add Google Analytics -->

  <script src="http://blutz.io/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</body>
</htmL>
